.section {
  width: 100%;
}

.section__wrapper {
  width: 100%;
  max-width: $desktop-width;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  overflow-x: hidden;
}

.section__title {
  display: block;

  padding-bottom: 60px;

  font: {
    family: Open Sans, sans-serif;
    size: 2.5rem;
    weight: 200;
    style: italic;
  }
  text-align: center;
  line-height: 1;
  color: $gray;

  &::before,
  &::after {
    display: block;
    content: '';

    width: 113px;
    height: 3px;
    margin: 0 auto;

    background-color: $red;
  }

  &::before {
    margin-bottom: 30px;
  }

  &::after {
    margin-top: 30px;
  }
}
