@import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/flexboxgrid/css/flexboxgrid.min.css";

@import "variables";
@import "mixins";
@import "fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

// ui
@import "ui/slider";

// blocks
@import "blocks/main-nav";
@import "blocks/page-header";
