// fonts
$bebas-neue-regular: Bebas Neue Regular;
$bebas-neue-book: Bebas Neue Book;
$lato-regular: Lato Regular;
$lato-bold: Lato Bold;
$lato-black: "Lato Black";

// colors
$red: #dc0000;

// break points
$table-width: 768px;
$desktop-width: 1170px;
